<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Main Page</title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
	  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

      <link rel="stylesheet" href="../static/styles/Style22.css" />
      <link rel="stylesheet" href="../static/styles/mobile-style22.css">
	</head>

	<body>

        <header>
            <div class="container-fluid p-0">
              <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="#"><i class="fas fa-american-sign-language-interpreting fa-2x"></i> Sign Master</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <div class="mr-auto"></div>
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="mainFinal.html">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="video.html">Video Trasnlate</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="image.html">Image Trasnlate</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="dictionary.html">Sign Dictionary</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="help.html">Help</a>
                    </li>
                  </ul>

                </div>
              </nav>
            </div>
        </header>

        <main>
        </main>

          <footer>
            <div class="container-fluid p-0">
              <div class="row text-left">
                <div class="col-md-5 col-sm-5">
                  <h4 class="text-light">About CodeX</h4>
                  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum maxime ea similique illum corrupti</p>
                  <p class="pt-4 text-muted">Copyright ©2021 All rights reserved by | <span>CodeX</span></p>
                </div>
                <div class="col-md-5 col-sm-12">
                  <h4 class="text-light">Keep up with our future project</h4>
                  <p class="text-muted">Send us an email,</p>
                  <a href="mailto:signmastercodex@gmail.com">signmastercodex@gmail.com</a>
                </div>
                <div class="col-md-2 col-sm-12">
                  <h4 class="text-light">Follow Us</h4>
                  <p class="text-muted">on social media</p>
                  <div class="column text-light">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-youtube"></i>
                  </div>
                </div>
              </div>
            </div>
          </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	</body>
</html>

