<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Main Page</title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
	  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

		<link rel="stylesheet" href="./Style.css" />
		<link rel="stylesheet" href="./mobile-style.css">
	</head>

	<body>
		<div class ="top">
<!--		<a class ="back" href="#top" src>Back to Top</a>-->
		</div>

			<header class="header">
				<nav class="navbar navbar-style">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#micon">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a href=""><img class="logo" src="logo.png"></a>
						</div>
						<div class="collapse navbar-collapse" id="micon">
							<ul class="nav navbar-nav navbar-right">
							<li><a href="/" id="Button">Home</a></li>
							<li><a href="live_feed">Live Video</a></li>
							<li><a href="video_translate">Sign Dictionary</a></li>
							<li><a href="help">Help</a></li>
							</ul>
						</div>

					</div>

				</nav>

				<div class="container">
					<div class="row">
						<div class="col-sm-6 banner-image">
							<img src="main.jpg" class="img-responsive">
						</div>

						<div class="col-sm-6 banner-info">
							<h2>SIGN MASTER<br></h2>
							<h1>Sign Language<br></h1>
							<p><br>The sign languages used by deaf communities around the world represent a linguistic challenge <br>
							that natural language researchers have only recently begun to take up.<br>
							</p>
						</div>

					</div>
				</div>

			</header>
	</body>
</html>
		
